.header {
    font-size: 32pt;
    text-align: center;
    font-family: Monaco, Consolas, monospace;
    font-weight: bold;
    margin-bottom: 6px;
}

.blueBannerText {
    font-size: 12pt;
    text-align: left;
    font-family: Monaco, Consolas, monospace;
    color: white;
}

.textarea {
    font-size: 12pt;
    text-align: left;
    font-family: Monaco, Consolas, monospace;
    color: #303030;
    padding: 10pt 20pt;
}